body {
    padding: 0px;
    margin: 0px;
    background-color:silver;
}

.container {
    margin: 100px;
    padding: 5px;
    border: grey solid 3px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    font-size: 0;
    background-color: whitesmoke;
}

.container > .grid {
    display: inline-block;
    box-sizing: border-box;
    border-style: solid;
    border-color: rgba(128, 128, 128,0.2);
    user-select: none;
}

.container>.grid:hover {
    border-color: rgb(0, 0, 0);
}